.container-options {
    background-color: #4b4a4a;
}

.row {
    margin: 20px;
}

.content-items .paragraph {
    text-align: justify;
    background-color: #f1f1f1;
}

.navbar-text{
    text-decoration: none;
}